version: '3.9'
services:
    mysql:
        image: mysql:5.7
        container_name: mysql
        networks:
          - compose-bridge
        ports:
          -"3306:3306"

    controltec:
        image: luiz0809/controltec:1.1
        container_name: controltec
        networks:
          - compose-bridge

networks:
    compose-bridge:
        driver: bridge
