version: '3.9'
services:
    mysql:
        image: mysql:5.7
        container_name: mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
           MYSQL_DATABASE: ControlTec
           MYSQL_USER: root
           MYSQL_PASSWORD: 102025fe
           MYSQL_ROOT_PASSWORD: 102025fe
        networks:
          - compose-bridge
        ports:
          - "3306:3306"
        expose: 
          - "3306"

    controltec:
        image: luiz0809/controltec:1.1
        container_name: controltec
        networks:
          - compose-bridge

networks:
    compose-bridge:
        driver: bridge
