*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: linear-gradient(to right, rgb(77, 77, 228), rgb(177, 35, 177), rgb(42, 42, 131));
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar{
    word-spacing: 5px;
    text-align: center;
    text-transform: capitalize;
}

.item{
    color: #ffff;
    text-decoration: none;
}

.item:hover{
    background-color: rgb(171, 130, 209);
    border-radius: 10px;
}

.titulo{
    text-align: center;
}

.item-escrito{
    font-size: 40px;
    padding-top: 25px;
    color: rgb(167, 22, 196);
}

.item-escrito2{
    font-size: 35px;
    padding-top: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.sessao{
    background-color: rgb(163, 170, 170);
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.pre-form{
    width: 700px;
    height: 500px;
    background-color: blueviolet;
    border-radius: 20px;
   
}

.form{
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    
}

.img{
    width: 250px;
    height: 250px;
}

.form input{
    width: 250px;
    height: 25px;
    border-radius: 7px;
    border-width: 0;
}

.form p{
   color: #ffff;
    
}

.label-input{
    margin: 1px;
}

.btn{
    text-align: center;
    align-self: center;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    color: rgb(51, 1, 75);
    border-width: 0;
    margin-top: 10px;
}

.btn:hover{
    background-color: rgb(162, 112, 209);
}

.footer{
    background-image: linear-gradient(to right, rgb(77, 77, 228), rgb(177, 35, 177), rgb(42, 42, 131));
    width: 100%;
    height: 100px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffff;

}
