* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



body {
    background-image: url("cadastro1.jpg");
     background-repeat: no-repeat;
    
}

.conteiner{
    width: 95%;
    height: 100%;
}

.conteiner_02{
    width: 70%;
}
 
.header .conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .conteiner .navbar li{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.35s ease;
}

.header .conteiner .navbar li a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 00.35s ease;
}

.header .conteiner .navbar li a:hover:before{
    width: 100%;
}

.navbar{
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;

}

.header h1{
    color: #fff;
}


.navbar li{
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
}

.navbar li a{
    text-decoration: none;
    color: #fff;
}

.navbar .active{
    font-weight: bolder;
    color: #fff;
}

#logo{
    width: 100px;
}

input, label{
    display: block;
    width: 100%;
}

a {
    color: black;
}

#conteiner_cadastro {
   width: 750px;
   height: 750px;
   background-color: rgba(91, 96, 175, 0.603);
   border-radius: 10px;
   padding: 25px;  
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-left: 270px;
   
   
}

#conteiner_cadastro h1 {
    text-align: center;
    padding-left: 30px;
    margin-bottom: 25px;
    margin-left: 200px;
    font-size: 2.6rem; /*adaptar ao elemento root (a tela)*/
    color: #fff;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full_box {
    flex: 1 1 100%;
    position: relative;

}

.half_box {
    flex: 1 1 45%;
    position: relative;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 40px;
}

input:focus {
    border-color: blue;
}

input[type= "submit"] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    margin-inline: auto;
}

#acordo {
    margin-right: 5px;

}

#acordo, #acordo_label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }
  
  .template {
    display: none;
  }

  .modal {
      position: fixed;
      padding: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transform: scale(1.1);
      opacity: 0;
      visibility: hidden;
      transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

.modal_content {
    background-color: white;
    padding: 16px 24px;
    width: 384px;
    border-radius: 0.5rem;
}

span {
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    line-height: 24px;
}

span:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    
}

.buttons {
    margin: 10%;
    text-align: center;
  }
  
  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600px;
    color: #fff;
    cursor: pointer; 
    margin: 20px; 
    height: 55px;
    text-align:center; 
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: auto;
    margin-left: 30%;
    
  }
  
   .btn-hover:hover {
    background-position: 100% 0;
  }
  
  .btn-hover:focus {
    outline: none;
  } 
  
  .btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #406ce4, #30dd8a, #2b40b6);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 6, 97);
    height: 110px;
    margin-top: 25px;
}
.footer p{
    font-weight: bolder;
    color: white;
}